<div id="<%= dom_id user %>">
    <div class="card-body">
        <strong>Nombre: <%= current_user.first_name %></strong>
        <strong>Apellido: <%= @user.last_name %></strong>
        <strong>Correo: <%= @user.email %></strong>
    </div>
</div>
