.main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.main-left {
    float: left;
    width: 30%;
}

.main-rigth {
    float: right;
    width: 60%;
}